<sidenav user="vm.user" courses="vm.courses"></sidenav>
<md-content layout="column" layout-fill>
<app-header user="vm.user"></app-header>
<md-content class="=home_background" layout="row" layout-align="center start" flex style="padding:10px; background-color:#e0e0e0">
  <div class="md-whiteframe-1dp" flex="80" flex-xs="100" layout="column" style="background-color:white">
    <div layout="row" layout-align="center center">
      <p>{{vm.course.title}}</p>
    </div>
    <ng-quill-editor
               ng-model="vm.page.content"
               read-only="true"
               modules="{toolbar:false}"
               placeholder="Please select a course :)"
           >
    </ng-quill-editor>
    <md-divider></md-divider>
    <div layout="row" ng-show="vm.user.type === 'Student'">
      <md-button
            layout-align="center center"
            aria-label="side navigation">
              <img class="toolbar-user-avatar"  ng-src={{"/uploads/avatars/"+vm.user.avatar}} alt="avatar">
          <span>{{vm.course.user | username}}</span>
      </md-button>
      <span flex></span>
      <md-button class="md-primary">
        Subscribe
      </md-button>
    </div>
  </div>
  <md-button ng-hide="vm.$location.hash()==='0'" ng-click="vm.previousPage()" class="md-fab md-fab-bottom-left md-primary" aria-label="previous"><md-icon md-font-icon="zmdi zmdi-chevron-left"></md-button>
  <md-button ng-hide="vm.islastPage()" ng-click="vm.nextPage()" class="md-fab md-fab-bottom-right md-primary" aria-label="next"><md-icon  md-font-icon="zmdi zmdi-chevron-right"></md-button>
</md-content>
<div style="background-color:white; height:50px; color:teal" layout="row" layout-align="center center">
  <md-button>
    DISCUSSION<md-icon  md-font-icon="zmdi zmdi-chevron-up zmdi-hc-2x"></md-icon>
  </md-button>
</div>
</md-content>
