<md-dialog flex="50" aria-label="Mango (Fruit)">
  <form ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Rent me </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">X
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="center center">
        <h4>Choose your start and end dates</h4>
    </div>
    <md-dialog-content layout-padding>
        <div layout="row">
            <label>Start date</label>
            <span flex></span>
            <md-datepicker ng-model="vm.start_date" required></md-datepicker>
        </div>
        <div layout="row">
            <label>End date</label>
            <span flex></span>
            <md-datepicker ng-model="vm.end_date" required></md-datepicker>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="vm.rent()">
        Rent
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
