<md-dialog flex="30" aria-label="Mango (Fruit)">
  <form ng-cloak >
    <md-toolbar style="background-color:white; color:gray">
      <div class="md-toolbar-tools">
        <h2>Update Avatar</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">X
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="center center">
        <h4>Nice!</h4>
    </div>
    <md-dialog-content layout-padding layout="row" layout-align="center center" flex>
      <img class="user-avatar md-whiteframe-1dp"  ngf-thumbnail="vm.file">
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="vm.save()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
