<div layout="column" layout-fill >
  <div  layout="row" layout-padding layout-align="center center">
    <div>
        <img class="profile-user-avatar" src="img/assets/images/avatars/avatar-5.png" alt="girl-avatar"/>
    </div>
    <div class="text-light">
        <h4 class="font-weight-600 margin-bottom-0 text-light">{{vm.userp.firstname + ' '+ vm.userp.lastname}}</h3>
        <p class="font-weight-300 margin-top-0">Edit your name, avatar etc</p>
     </div>
   </div>

  <div layout="row" class="profile" flex>
      <div layout-fill>
          <md-tabs md-whiteframe="1" layout-fill>
              <md-tab label="Listings">
                  <md-content class="md-padding">
                      <section class="list-container md-whiteframe-z1">
                        <!-- <md-toolbar class="list-toolbar" md-scroll-shrink md-border-bottom>
                          <div class="list-toolbar md-toolbar-tools" md-border-bottom>Pending</div>
                        </md-toolbar> -->
                        <!-- <md-subheader class="md-primary">Pending</md-subheader> -->
                          <md-list layout-padding>
                            <md-list-item class="md-3-line" ng-repeat="listing in vm.userp.listings" layout-padding>
                                <img ng-src="{{listing.thumbnail}}" class="book-thumbnail" alt="{{}}">
                                <div class="md-list-item-text" layout="column" layout-align="start start">
                                  <h3>{{listing.title}}</h3>
                                  <h4>Offers: {{}}</h4>
                                </div>
                                <md-button ng-click="vm.showDetail(listing.id)">
                                    View
                                </md-button>
                            </md-list-item>
                          </md-list>
                      </section>
                  </md-content>
              </md-tab>
              <md-tab label="Rentals">
                  <md-content class="md-padding">
                      <section class="list-container md-whiteframe-z1">
                        <!-- <md-toolbar class="list-toolbar" md-scroll-shrink md-border-bottom>
                          <div class="list-toolbar md-toolbar-tools" md-border-bottom>Pending</div>
                        </md-toolbar> -->
                        <!-- <md-subheader class="md-primary">Pending</md-subheader> -->
                          <md-list layout-padding>
                            <md-list-item class="md-3-line" ng-repeat="rental in vm.userp.rents" layout-padding>
                                <img ng-src="{{rental.listing.thumbnail}}" class="book-thumbnail" alt="{{}}">
                                <div class="md-list-item-text" layout="column" layout-align="start start">
                                  <h3>{{rental.listing.title}}</h3>
                                  <h4>Status: {{rental.status}}</h4>
                                </div>
                                <md-button ng-click="vm.showDetail(rental.listing.id)">
                                    View
                                </md-button>
                            </md-list-item>
                          </md-list>
                      </section>
                  </md-content>
              </md-tab>

              <md-tab label="Notifications" layout-fill>
                  <md-content class="md-padding">
                      <md-list>
                          <div ng-repeat="group in ::vm.settingsGroups">
                              <md-subheader class="md-accent" translate="{{::group.name}}"></md-subheader>
                              <md-list-item ng-repeat="setting in ::group.settings" layout="row" layout-align="space-around center">
                                  <md-icon md-font-icon="{{::setting.icon}}"></md-icon>
                                  <p translate>{{::setting.title}}</p>
                                  <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
                              </md-list-item>
                          </div>
                      </md-list>
                      <md-button class="md-raised md-primary margin-left-0" ng-disabled="profile.$invalid" translate="Update Settings"></md-button>
                  </md-content>
              </md-tab>
            </md-tabs>
          </div>
    </div>
</div>
