// @Author: eipex
// @Date:   2017-04-26T09:25:11-05:00
// @Last modified by:   eipex
// @Last modified time: 2017-05-08T11:41:11-05:00



// Toolbar Avatar
//

.main_toolbar{
  min-height:50px;
  padding:0px;
  text-align: center;
  background-color:white;
}
.toolbar-user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}

.header_more_btn{
  padding: 0 4px 0 4px;
  margin: 2px 4px 2px 4px;
  max-width: 30px;
  min-width: 30px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.toolbar-divider{
  margin:5px 0px 5px 0px;
}
