<div layout="row" layout-align="center center" layout-fill>
	<div flex="50" flex-xs="100" layout-padding>
		<md-card class="grey_text" layout="column" layout-padding>
      <div layout="column">
        <div layout="column">
          <div layout="column" layout-align="center center">
            <div ng-mouseenter="vm.changeAvatar=true" ng-mouseleave="vm.changeAvatar=false">
                  <form ng-show="vm.changeAvatar" name="vm.form" layout="row" layout-align="start center">
                    <div class="main_change_avatar_overlay" layout="column" layout-align="center center"
                         ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                         ngf-resize="{width: 150, height: 150}" style="cursor:pointer" ng-change="vm.selectImage(ev)">Change avatar</div>
                    <span flex></span>
                  </form>
            </div>
            <div class="text-light" style="color:#444">
                <p><strong>Congratulations {{vm.user.firstname}},</strong> your profile is complete.</p>
             </div>
          </div>
        <md-button ng-click="vm.create_page()">Create Page</md-button>
      </div>
		</md-card>
		</div>
<div>
