<app-header user="vm.user" shadow="false"></app-header>
<div  style="background-color:white" layout="row" layout-align="center start" layout-fill >
	<div flex="80" flex-xs="100" style="max-width:600px; margin-top:100px" >
		<div>
			<md-card-content>
	      <div layout="column">
	          <!-- <div layout="column" layout-align="start center">
	            <img class="welcome-user-avatar"  ng-src={{"/uploads/avatars/"+vm.user.avatar}} alt="avatar">

	            <div class="text-light" style="color:#444">
	                <p><strong>Hello {{vm.user.firstname}},</strong></p>
	             </div>
	          </div> -->
						<div  layout="column" style="margin:10px">
							<md-autocomplete
										class="auto_complete"
										flex
							      ng-disabled="vm.isDisabled"
							      md-no-cache="vm.noCache"
							      md-selected-item="vm.selectedItem"
							      md-search-text-change="vm.searchTextChange(vm.searchText)"
							      md-search-text="vm.searchText"
							      md-selected-item-change="vm.selectedItemChange(item)"
							      md-items="item in vm.querySearch(vm.searchText)"
							      md-item-text="item.name"
							      md-min-length="0"
							      placeholder="Search for channels">
							    <md-item-template>
							      <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
							    </md-item-template>
							    <md-not-found>
							      No channels matching "{{ctrl.searchText}}" were found.
							      <!-- <a ng-click="vm.newState(vm.searchText)">Create a new one!</a> -->
							    </md-not-found>
							  </md-autocomplete>
								<div layout="row" layout-align="start center">
									<span class="create_spn" ng-click="vm.create = !vm.create" style="margin-top:15px">
									Create a channel
								</span>
								</div>
						 <!-- <md-input-container md-no-float  flex>
							 <input   placeholder="Search" type="text" ng-model="vm.lastname">
							  <md-icon
								style="max-width:50px; max-height:50px;"
								ng-click="vm.exit()" class="create_close"
								md-font-icon="zmdi zmdi-close zmdi-arrow-right zmdi-hc-lg"></md-icon>
						 </md-input-container> -->

					 </div>
						<div ng-hide="vm.create" layout="column">
						 <!-- <div class="text-light" style="margin:10px; color:#444">
								 <p><strong>Create a channel</strong></p>
							</div> -->

							<div style="margin:10px" layout="column">
							 <md-input-container md-no-float  >
								 <input   placeholder="Name" type="text" ng-model="vm.channel_name">
							 </md-input-container>
						 </div>
						 <div layout="row">
						 <md-input-container flex md-no-float style="display: inline-block; position: relative; vertical-align: middle; max-height:30px; margin:10px; margin-top:15px; padding:0px;">
								<label>Tags</label>
								 <md-chips ng-model="vm.tags" readonly="ctrl.readonly" md-removable="ctrl.removable">
							<!-- <md-contact-chips
									 ng-model="vm.selected_subjects"
									 md-contacts="vm.querySearch($query)"
									 md-contact-name="name"
									 md-contact-image="image"
									 md-require-match="true"
									 md-highlight-flags="i"
									 filter-selected="true"
									 placeholder="what is the content area?"
									 style=" max-height:30px;">
					 </md-contact-chips> -->
							</md-input-container>
					 </div>
					 <div style="margin-top:10px" layout="row" layout-align="start center">
		 				<md-button class="md-primary md-raised" ng-click="vm.create_channel()">Create</md-button>
		 			</div>
				 	</div>
				<!-- <div  ng-hide="vm.empty()" class="welcome_courses">
					<md-list class="contacts-list md-dense" style="border-top:1px solid rgba(128, 128, 128, 0.27)">
			      <md-list-item ng-click="vm.loadCourse(c)" class="md-2-line" ng-repeat="c in vm.courses">
			          <div class="md-list-item-text" layout="column" layout-align="start start" >
			            <h3>{{c.title}}</h3>
			            <p> {{c.user | username}}</p>
			          </div>
			          <md-icon md-font-icon="zmdi zmdi-chevron-right"></md-icon>
			          <md-divider></md-divider>
			      </md-list-item>
			    </md-list>
				</div> -->
				<!-- <div ng-show="vm.empty()" class="courses_empty">
						<p>You don't have any pages. Start by creating your first page.</p>
				</div> -->
		</md-card-content>
		<!-- <md-card-actions>
			<div layout="row" layout-align="start center">
				<md-button class="md-primary md-raised" ng-click="vm.create_page()">Create</md-button>
			</div>
		</md-card-actions> -->
	</div>
		</div>
<div>
