<div layout-fill layout="row" layout-align="center center" class="grey-background">
		<div flex></div>
		<md-card>
         <md-card-title>
           <md-card-title-text layout-align="center center">
             <span class="md-headline">Welcome</span>
           </md-card-title-text>
         </md-card-title>
         <md-card-content>
					 <form ng-submit="vm.login()">
						 <div>
							 <md-input-container class="LoginForm-inputContainer">
								 <label>Email</label>
								 <input type="email" ng-model="vm.email">
							 </md-input-container>
						 </div>

						 <div>
							 <md-input-container class="LoginForm-inputContainer">
								 <label>Password</label>
								 <input type="password" ng-model="vm.password">
							 </md-input-container>
						 </div>


					 </form>
         </md-card-content>
         <md-card-actions layout="column" layout-align="start">
           <md-button type="submit" ng-click="vm.login()" class="LoginForm-submit md-primary md-raised">Log in</md-button>
					 <md-button type="submit" ng-click="vm.signUp()" class="LoginForm-submit">Sign up</md-button>

         </md-card-actions>
				 <div layout="column" layout-align="start center" layout-padding>
					 	<a class="link" ng-click="vm.forgotPassword()">Forgot account?</a>
				 </div>

    </md-card>
		<div flex></div>
<div>
