// @Author: eipex
// @Date:   2017-04-26T09:25:11-05:00
// @Last modified by:   eipex
// @Last modified time: 2017-05-08T11:40:53-05:00



.message-list {
  flex: 1;
  overflow: auto;
  margin-top:0;
  margin-bottom:0;
  border: none;
}

.message-list .collection-item:last-child {
  border-bottom: 0.1em solid #DCDCDC;
}

.small-btn {
  padding: 0 4px 0 4px;
  margin: 2px 4px 2px 4px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.icon{
  font-size: 24px;
}

.chat_toolbar{
  min-height:50px;
  padding:0px;
  text-align: center;
  background-color:white;
  //font-size: 12px;
}

.contact-user-avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right:5px;
}

.messages_box{
  overflow:hidden;
}

.message_datetime{
  height: 20px;
  width:100px;
  font-size: 12px;
}

#vertical-container {
    min-height: 100%;
    width: 100%;
}

.repeated-item {
    border-bottom: 1px dotted #757575;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
}

.exchange-panel{

}

.search_contacts{
  height: 50px;
  font-size: 14px;
  padding-left:10px;
  border:none;

}

.convo_new{
  border-right: 5px solid teal
}

.send_message{
  height:60px;
  font-size: 14px;
  border:none;
  padding-left:10px;
}

input:focus {
    outline:none;
}



.search_contacts:active{
  height: 50px;
  font-size: 14px;
  padding-left:10px;
  border:none;
}

.contacts-list{
  padding:0px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(0,0,0,0.54);
    fill: rgb(255,255,255);
}
