.message-list {
  flex: 1;
  overflow: auto;
  margin-top:0;
  margin-bottom:0;
  border: none;
}

.message-list .collection-item:last-child {
  border-bottom: 0.1em solid #DCDCDC;
}

.small-btn {
  padding: 0 4px 0 4px;
  margin: 2px 4px 2px 4px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.icon{
  font-size: 24px;
}

.chat_toolbar{
  min-height:50px;
  padding:0px;
  text-align: center;
  //font-size: 12px;
}

.contact-user-avatar{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right:5px;
}

.messages_box{
  overflow:hidden;
}






.message_datetime{
  height: 20px;
  width:100px;
  font-size: 12px;
}

#vertical-container {
    min-height: 100%;
    width: 100%;
}

.repeated-item {
    border-bottom: 1px dotted #757575;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
}
