.book-thumbnail{
  width: 5rem;
  height: 7rem;
}

.list-user-avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right:5px;
}
.cancelled{
  color:red;
}

.approved{
  color:green;
}
