// @Author: eipex
// @Date:   2017-04-26T09:25:11-05:00
// @Last modified by:   eipex
// @Last modified time: 2017-06-09T13:07:09-05:00



body{
    margin: 0;
}
#app-shell-header{
    background-color: white;
    height: 64px;
}
#app-shell-header img{
    padding: 13px 0;
    margin-left: 5%;
}
#app-shell-content{
    background-color: #00A4C6;
    min-height: 600px;
}

.grey_text{
  color: #444;
}

.grey-background{
  background-color:white;//#f6f6f6;
}
