// @Author: eipex
// @Date:   2017-04-26T09:25:11-05:00
// @Last modified by:   eipex
// @Last modified time: 2017-06-29T12:48:22-05:00



body{
    margin: 0;
}
#app-shell-header{
    background-color: white;
    height: 64px;
}
#app-shell-header img{
    padding: 13px 0;
    margin-left: 5%;
}
#app-shell-content{
    background-color: #00A4C6;
    min-height: 600px;
}

.small-btn {
  padding: 0 4px 0 4px;
  margin: 2px 4px 2px 4px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.grey_text{
  color: #444;
}

.grey-background{
  background-color:white;//#f6f6f6;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: teal;
  // border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: teal;
}
::-webkit-scrollbar-thumb:active {
  background: teal;
}
::-webkit-scrollbar-track {
  background: none;
  // border: 0px none #ffffff;
   border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: none;
}
::-webkit-scrollbar-track:active {
  background: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
