<md-dialog class="course_dialog" layout="column" flex="50" aria-label="Add Book" ng-class="{error:vm.error}">
    <form layout="column" layout-fill>
      <md-dialog-content setheight="50" layout-padding style="overflow:hidden">
      <div layout="column" layout-align="center stretch" layout-fill>
        <div style=" height:100px" layout="row">
          <div class="md-button md-primary add_btn"  ng-click="vm.show_form=!vm.show_form" layout="column" layout-align="center center">
            <div ng-hide="vm.show_form" style="width:50px; height:50px; text-transform:none" layout="column">
              <md-icon class="icon" ng-click="" md-font-icon="zmdi zmdi-plus zmdi-hc-2x"></md-icon>
              Course
            </div>
            <div ng-show="vm.show_form" style="width:50px; height:50px; text-transform:none" layout="column">
              <md-icon class="icon" ng-click="" md-font-icon="zmdi zmdi-collection-item zmdi-hc-2x"></md-icon>
              Courses
            </div>
          </div>
          <div ng-hide="vm.show_form" class="courses_list" flex>
            <div ng-show="false" class="empty_things" ng-show="true" style="color:#ccc; text-align:center" layout-fill layout="column" layout-align="center center">
              No courses.
            </div>
            <div layout="row" layout="center center">
              <div ng-click="vm.edit_course(course)" ng-repeat="course in vm.courses" class="course_item" layout-fill layout="column" layout-align="center center">
                 {{course.title}}
              </div>
            </div>
          </div>
          <div ng-show="vm.show_form" class="courses_list" layout="column"  layout-align="center stretch" layout-padding flex>
            <md-input-container md-no-float class="md-block" style=" max-height:30px; margin:10px; padding:0px;">
              <input ng-model="user.address2" placeholder="Title">
            </md-input-container>
             <md-input-container md-no-float style=" max-height:30px; margin:10px; padding:0px;">
                <label>Subject</label>
                <md-select ng-model="vm.course_subject">
                  <md-option ng-repeat="subject in vm.subjects" value="{{subject}}">
                    {{subject}}
                  </md-option>
                </md-select>
              </md-input-container>
          </div>
        </div>
        <md-subheader style="margin:30px 0px 10px 0px; background-color:white">Activities</md-subheader>
        <div class="activities_dialog">
          <div class="empty_things" ng-show="true" style="color:#ccc; text-align:center" layout-fill layout="column" layout-align="center center">
            No recent activity.
          </div>
          <div ng-hide="true">
          </div>
        </div>
      </div>
        <!-- <div ng-hide="vm.show_form" layout="column" layout-align="center center" flex>
          <h3>Course</h1>
          <md-input-container>
             <label>Select course</label>
             <md-select ng-model="vm.course">
               <md-option ng-repeat="course in vm.courses" value="{{course}}">
                 {{course.title}}
               </md-option>
             </md-select>
           </md-input-container>
           <md-button class="md-primary new_course_btn" ng-click="vm.new_course()">new course</md-button>
        </div> -->
          </md-dialog-content>
          <md-dialog-actions layout="row" style="max-height:50px; padding-left:0px">
            <md-button ng-click="vm.dialog_cancel()">
              Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="vm.dialog_done()">
              Done
            </md-button>
          </md-dialog-actions>
    </form>
</md-dialog>
