<md-dialog class="course_dialog" layout="column" flex="50" aria-label="Add Book" ng-class="{error:vm.error}">
  <md-dialog-content layout-padding>
    <form layout="column" layout-align="center center" layout-fill>
        <div ng-hide="vm.show_form" layout="column" layout-align="center center" flex>
          <h3>Course</h1>
          <md-input-container>
             <label>Select course</label>
             <md-select ng-model="vm.course">
               <md-option ng-repeat="course in vm.courses" value="{{course}}">
                 {{course.title}}
               </md-option>
             </md-select>
           </md-input-container>
           <md-button class="md-primary new_course_btn" ng-click="vm.new_course()">new course</md-button>
        </div>
        <div ng-show="vm.show_form" layout="column" layout-fill>
          <div layout="row" layout-align="start center" layout-fill>
              <md-icon class="icon" ng-click="vm.dialog_goBack()" md-font-icon="zmdi zmdi-arrow-left zmdi-hc-2x"></md-icon>
              <span flex></span>
          </div>
          <md-input-container>
             <label>Title</label>
             <input type="text" ng-model="vm.course_title"/>
           </md-input-container>
           <md-input-container>
              <label>Subject</label>
              <md-select ng-model="vm.course_subject">
                <md-option ng-repeat="subject in vm.subjects" value="{{subject}}">
                  {{subject}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout="row" style="padding-left:0px">
    <md-button ng-click="vm.dialog_cancel()">
      Cancel
    </md-button>
    <span flex></span>
    <md-button ng-click="vm.dialog_done()">
      Done
    </md-button>
  </md-dialog-actions>
</md-dialog>
