<sidenav user="vm.user"></sidenav>
<md-content layout="column" layout-fill>
<app-header user="vm.user"></app-header>
<md-content class="=home_background" layout="row" flex style="padding:10px; background-color:#e0e0e0; overflow:hidden">
  <div flex="10" flex-xs="0" flex-gt-md="20"></div>
  <div class="md-whiteframe-1dp" layout="column" style="background-color:white" flex="80" flex-xs="100" flex-gt-md="60">
    <md-toolbar class="page_toolbar" layout="row" layout-align="start center" layout-padding style="color:#444; background-color:white">
      <!-- <div style="text-transform:capitalize">{{vm.channel.name}}</div>
      <span flex></span>
      <div>
      <md-icon ng-click="vm.exit()" class="create_close" md-font-icon="zmdi zmdi-close zmdi-hc-lg"></md-icon>
      </div> -->
      <md-input-container md-no-float class="md-block" style="padding:10px 10px 0px 10px; margin:0px; height:40px; width:100%">
         <input ng-model="vm.page_title" placeholder="Title" style="text-align:center" maxlength="50"  autocomplete="off">
       </md-input-container>
    </md-toolbar>

      <ng-quill-editor
               ng-model="vm.page_content" max-length="5" flex layout="column" setheight="100" style="margin-top:0px">
               <ng-quill-toolbar>
                   <div id="ng-quill-toolbar"  layout="row" layout-align="start center">
                       <span class="ql-formats">
                           <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
                           <button class="ql-italic" ng-attr-title="{{'Italic'}}"></button>
                           <button class="ql-underline" ng-attr-title="{{'Underline'}}"></button>
                       </span>
                       <span class="ql-formats">
                         <button class="ql-blockquote" ng-attr-title="{{'blockquote'}}"></button>
                         <button class="ql-code-block" ng-attr-title="{{'code-block'}}"></button>
                       </span>
                       <span class="ql-formats">
                         <button class="ql-list" ng-attr-title="{{'ordered'}}" value="ordered"></button>
                         <button class="ql-list" ng-attr-title="{{'bullet'}}" value="bullet"></button>
                       </span>
                       <span class="ql-formats">
                           <select class="ql-align" ng-attr-title="{{'Aligment'}}">
                               <option selected></option>
                               <option value="center"></option>
                               <option value="right"></option>
                               <option value="justify"></option>
                           </select>
                       </span>
                       <span class="ql-formats">
                           <select class="ql-header">
                               <option selected></option>
                               <option value="1"></option>
                               <option value="2"></option>
                               <option value="3"></option>
                               <option value="4"></option>
                               <option value="5"></option>
                               <option value="6"></option>
                           </select>
                       </span>
                       <span class="ql-formats">
                         <select class="ql-color">
                          <option selected></option>
                          <option value="red"></option>
                          <option value="orange"></option>
                          <option value="yellow"></option>
                          <option value="green"></option>
                          <option value="blue"></option>
                          <option value="purple"></option>
                        </select>
                        <select class="ql-background">
                          <option selected></option>
                          <option value="red"></option>
                          <option value="orange"></option>
                          <option value="yellow"></option>
                          <option value="green"></option>
                          <option value="blue"></option>
                          <option value="purple"></option>
                        </select>
                       </span>
                   </div>
               </ng-quill-toolbar>
           </ng-quill-editor>
         <div class="page_footer" layout="row">
           <md-button
                 layout-align="center center"
                 aria-label="side navigation" style="text-transform:none" ng-click="vm.toChannel()">
                   <img class="toolbar-user-avatar"  ng-src={{"//www.gravatar.com/avatar/50?s=25&d=retro"}} alt="avatar">
               <span>{{vm.channel.name}}</span>
           </md-button>
           <span flex></span>
           <md-button ng-click="vm.auto_save()">Save</md-button>
           <md-button class="md-primary md-raised" ng-click="vm.publish()">Publish</md-button>
         </div>
  </div>
  <div flex="10" flex-xs="0" flex-gt-md="20"></div>
</md-content>
</md-content>
