<md-dialog class="course_dialog" layout="column" flex="50" aria-label="Add Book" ng-class="{error:vm.error}">
  <md-dialog-content layout="column" layout-padding>
    <p layout="row" layout="center center">Your page has been successfully created <strong>Samuel</strong>.</p>
    <md-button ng-click="vm.view_page()">View Page</md-button>
    <div layout="row" layout-align="center center">
      <a class="link" ng-click="vm.create_page()">Create another page.</a>
    </div>
  </md-dialog-content>
</md-dialog>
