// @Author: eipex
// @Date:   2017-04-03T17:27:23-05:00
// @Last modified by:   eipex
// @Last modified time: 2017-04-25T22:34:15-05:00



.chat-cloud{
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-list{
  background-color: rgb(233, 233, 233);
}

// for other user
.message_cloud {
    background-color: white;
    width:100%;
    padding:10px;
    margin-left:-30px;
    border-radius:3px;
}

// for current user
.message_cloud_2{
  background-color: teal;
  color:white;
  padding:10px;
  padding-right:20px;
  margin-right:-30px;
  border-radius:3px;
}

.message-user-avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-right:5px;
}

.front {
    display: block;
    z-index: 5;
    position: relative;
    border:3px solid white;
}

.front_2{
  display: block;
  z-index: 5;
  position: relative;
  border:3px solid teal;
}


.behind_container {
    position: relative;
}

.message_text{
  margin-left:30px;
}

.message_text_2{
  margin-right:10px;
}
