<md-content  scroll-to-bottom="vm.conversations" ng-style="{'height':vm.messageWindowHeight}">
  <md-list class="chat-list" >
    <md-list-item class="chat-cloud" ng-repeat="chat in vm.conversations track by chat.id" repeat-done="vm.listDidRender()">
          <!-- show id sender is current user -->
          <div  ng-show="vm.cloud(chat.sender.id)" layout="row" layout-align="end center" style="width:100%; float:right">
            <div class="behind_container message_cloud_2" layout="column" flex="1">
              <div layout="column">
                <div layout-padding>{{chat.message}}</div>
                <div layout="row" layout-align="start end">
                  <span flex></span>
                  <span class="message_datetime" am-time-ago="message.create_at"></span>
            </div>
          </div>
          </div>
          <img  class="front_2 message-user-avatar" ng-src={{"/uploads/avatars/"+chat.sender.avatar}}  alt="avatar" />
        </div>
        <!-- Show if sender is not current user -->
        <div  ng-hide="vm.cloud(chat.sender.id)" id="anchor{{chat.id}}" layout="row" layout-align="start center">
            <img  class="front message-user-avatar" ng-src={{"/uploads/avatars/"+chat.sender.avatar}}  alt="avatar" />
            <div class="behind_container message_cloud" layout="column" flex >
              <div class="message_text" layout="column">
                <div layout-padding>{{chat.message}}</div>
                <div layout="row" layout-align="start end">
                  <span flex></span>
                  <span class="message_datetime" am-time-ago="message.create_at"></span>
                </div>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-list>
</md-content>
