<div layout="row" layout-align="center center" layout-fill>
	<div flex="50" flex-xs="100" layout-padding>
		<md-card ng-show="vm.show_form" class="grey_text" layout="column" layout-padding>
						<form layout="column">
  						<div layout="column">
                <div layout="column" layout-align="center center">
                  <div ng-mouseenter="vm.changeAvatar=true" ng-mouseleave="vm.changeAvatar=false">
                        <form ng-show="vm.changeAvatar" name="vm.form" layout="row" layout-align="start center">
                          <div class="main_change_avatar_overlay" layout="column" layout-align="center center"
                               ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                               ngf-resize="{width: 150, height: 150}" style="cursor:pointer" ng-change="vm.selectImage(ev)">Change avatar</div>
                          <span flex></span>
                        </form>
                  </div>
                  <div class="text-light" style="color:#444">
                      <h3 class="font-weight-500 margin-bottom-0 text-light">Samuel Setsoafia{{vm.user | username}}</h3>
                   </div>
                </div>
								<md-subheader ng-show="vm.show_undo" class="md-no-sticky" flex>
									<md-list class="md-list" ng-cloak style="padding:0px">
									  <md-list-item ng-click="vm.undo()">
									    <p> {{vm.user_last_input | date:'MM-dd-yyyy'}} </p>
									    <md-icon class="cursor" md-font-icon="zmdi zmdi-edit zmdi-hc-1x"></md-icon>
									  </md-list-item>
									</md-list>
								</md-subheader>
  						</div>
              <div layout="column">
                <div layout="row" layout-align="center center">
                  <md-radio-group ng-show="vm.step_one" ng-change="vm.show_step('two')" layout="row" ng-model="vm.user_type">
                    <md-radio-button value="Student" class="md-primary">Student</md-radio-button>
                    <md-radio-button value="Instructor" class="md-primary">Instructor</md-radio-button>
                  </md-radio-group>

                  <md-radio-group ng-show="vm.step_two" ng-change="vm.show_step('three')" layout="row" ng-model="vm.user_sex">
                    <md-radio-button value="Boy" class="md-primary">Boy</md-radio-button>
                    <md-radio-button value="Girl" class="md-primary">Girl</md-radio-button>
                  </md-radio-group>

                  <md-input-container ng-show="vm.step_three">
                     <label>Enter date</label>
                     <md-datepicker  ng-change="vm.show_step('four')" md-current-view="year" ng-model="vm.user_dob"></md-datepicker>
                   </md-input-container>

                   <md-input-container ng-show="vm.step_four" class="RegisterForm-inputContainer">
                     <label>School</label>
                     <md-select name="type" ng-model="vm.user_school" ng-change="vm.show_step('review')" required>
                       <md-option value="Norman High School">Norman High School</md-option>
                     </md-select>
                   </md-input-container>
                </div>
              </div>
						</form>
			</md-card>
			<md-card ng-show="vm.show_review" class="grey_text" layout="column" layout-padding>
							<form layout="column">
	  						<div layout="column" layout-align="center center">
	                <div layout="column" layout-align="center center">
	                  <div ng-mouseenter="vm.changeAvatar=true" ng-mouseleave="vm.changeAvatar=false">
	                        <form ng-show="vm.changeAvatar" name="vm.form" layout="row" layout-align="start center">
	                          <div class="main_change_avatar_overlay" layout="column" layout-align="center center"
	                               ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
	                               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
	                               ngf-resize="{width: 150, height: 150}" style="cursor:pointer" ng-change="vm.selectImage(ev)">Change avatar</div>
	                          <span flex></span>
	                        </form>
	                  </div>
	                  <div class="text-light" style="color:#444">
	                      <h3 class="font-weight-500 margin-bottom-0 text-light">Samuel Setsoafia{{vm.user | username}}</h3>
	                   </div>
	                </div>
	  						</div>
								<md-list ng-cloak>
								  <md-list-item ng-click="vm.edit('type')">
								    <p ng-hide="vm.edit_user_type">{{vm.user_type}} </p>
								    <md-icon ng-hide="vm.edit_user_type" class="cursor" md-font-icon="zmdi zmdi-edit zmdi-hc-1x" ></md-icon>
										<md-radio-group  ng-show="vm.edit_user_type" ng-change="vm.show('type')" layout="row" ng-model="vm.user_type">
	                    <md-radio-button value="Student" class="md-primary">Student</md-radio-button>
	                    <md-radio-button value="Instructor" class="md-primary">Instructor</md-radio-button>
	                  </md-radio-group>
								  </md-list-item>
									<md-list-item ng-click="vm.edit('sex')">
								    <p ng-hide="vm.edit_user_sex"> {{vm.user_sex}} </p>
								    <md-icon ng-hide="vm.edit_user_sex" class="cursor" md-font-icon="zmdi zmdi-edit zmdi-hc-1x" ></md-icon>
										<md-radio-group  ng-show="vm.edit_user_sex" ng-change="vm.show('sex')" layout="row" ng-model="vm.user_sex">
										 <md-radio-button value="Boy" class="md-primary">Boy</md-radio-button>
										 <md-radio-button value="Girl" class="md-primary">Girl</md-radio-button>
									 	</md-radio-group>
								  </md-list-item>
									<md-list-item ng-click="vm.edit('dob')">
								    <p ng-hide="vm.edit_user_dob"> {{vm.user_dob | date:'MM-dd-yyyy'}} </p>
								    <md-icon ng-hide="vm.edit_user_dob" class="cursor" md-font-icon="zmdi zmdi-edit zmdi-hc-1x"></md-icon>
										<md-input-container ng-show="vm.edit_user_dob" >
	                     <label>Enter date</label>
	                     <md-datepicker  ng-change="vm.show('dob')" md-current-view="year" ng-model="vm.user_dob"></md-datepicker>
	                   </md-input-container>
								  </md-list-item>
									<md-list-item  ng-click="vm.edit('school')">
								    <p ng-hide="vm.edit_user_school"> {{vm.user_school}} </p>
								    <md-icon ng-hide="vm.edit_user_school" class="cursor" md-font-icon="zmdi zmdi-edit zmdi-hc-1x"></md-icon>
										<md-input-container ng-show="vm.edit_user_school">
											<label>School</label>
											<md-select name="type" ng-model="vm.user_school" ng-change="vm.show('school')" required>
												<md-option value="Norman High School">Norman High School</md-option>
											</md-select>
										</md-input-container>
								  </md-list-item>
								</md-list>
							</form>
	            <md-card-actions layout="column">
	              <md-button class="small-btn" ng-click="vm.done()">DONE</md-button>
	            </md-card-actions>
				</md-card>
		</div>
<div>
